h2 {
  font-size: 2rem;
  font-family: "Quantico", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 2rem;
}
.section1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

#text {
  padding-top: 1rem;
  font-size: 1.5rem;
  width: 70%;
  height: 100vh;
  color: rgb(255, 255, 255);
  font-family: "Quantico", sans-serif;
  text-align: justify;
  margin: 2rem;
}

#serveur {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

@media (max-width: 630px) {
  .section1 {
    flex-direction: column;
    align-items: center;
  }
}
