footer {
  font-size: 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 23%
  );
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: auto;
  img {
    scale: 0.5;
  }
}

@media (max-width: 630px) {
  footer {
    font-size: 20px;
    padding: 2rem;
  }
}
