$primary-rgb: 240 240 240;
$secondary-rgb: 0 0 0;

nav {
  font-family: "Black Ops One", sans-serif;
  background-color: rgb($secondary-rgb);
  color: rgb($primary-rgb);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  padding-bottom: 4rem;
  gap: 1rem;
  white-space: nowrap;
  i {
    padding: 1rem;
    background: -webkit-linear-gradient(
      0deg,
      #0077ff,
      #0077ff,
      #0077ff,
      #ffffff,
      #ff001e,
      #ff001e,
      #ff001e
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .divNav {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
  }

  .active {
    background: -webkit-linear-gradient(
      0deg,
      #0077ff,
      #0077ff,
      #0077ff,
      #ffffff,
      #ffffff,
      #ffffff,
      #ff001e,
      #ff001e,
      #ff001e
    );
    transition: all 0.3s ease;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4;
  }
  #auth {
    font-family: "Quantico", sans-serif;
    font-size: 2rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    width: 100%;
    padding-inline: 2rem;
    a {
      height: 2rem;
    }
  }
}

@media (max-width: 630px) {
  nav {
    font-size: medium;
    .divNav {
      display: flex;
      gap: 0.8rem;
      padding-left: 0.8rem;
      align-items: center;
      flex-direction: row;
    }

    .logo-link {
      display: flex;
    }
    img {
      transform: scale(0.5); /* Reduce the size of the image by 80% */
    }
  }
}
